/* styles go here */
.form__section {
  margin: 20px 0;
}

.form__item {
  margin: 10px 0;
}

.form__section:first-child {
  margin-top: 0;
}

.form__section > .form__item:first-of-type {
  margin-top: 0;
}

.form__section > .form__item:last-child {
  margin-bottom: 0;
}
